body{
    background-color: #222222;
    color: silver;
    margin: auto;
    max-width: 800px;
}
h1,h2,h3{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-weight: bold;
}
img{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
