body{
    background: #242424;
    color: white;
    font-family: sans-serif;

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
}

p {
    text-align: justify;
}

h1 {
    color: Orange;
    text-align:center;
}

h2 {
    color: orange;
}

a{
    color: white;
}

img{
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

small{
    margin-left: 80px;
}

article{
    padding: 20px;
}

@media print {
    a[href] {
	text-decoration: none ;
	color: black ;
    }
    color: black;
}

@media (min-width: 55em) {
    #artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
    #artlist { column-count: 3 ;}
}
