@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap');
body{
    background-color: #222;
    color: #ddd;
    font-family: "Nunito", sans;
}
.content{
    max-width: 850px;
    margin: auto;

}
h1,h2,h3{
    text-align: center;
    color: coral;
}
p{
    text-align: justify;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-weight: bold;
}
@media screen and (max-width:940){
    .content{
	margin-left: 20px;
	margin-right: 20px;
    }
}
