body{
    font-family: sans, sans-serif, helvetica, arial;
    background-color: black;
    color: silver;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
}

p {
    text-align: justify;
}

h1, h2 {
    color: darkgreen;
    text-align:center;
}

/*h2 {
    color: darkgreen;
}*/

a{
    color: green;
}

img{
    max-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*small{
    margin-left: 80px;
}*/

article{
    padding: 20px;
}

@media print {
	a[href] {
		text-decoration: none ;
		color: black ;
	}
	color: black;
}

@media (min-width: 55em) {
	#artlist { column-count: 2 ;}
}

@media (min-width: 100em) {
	#artlist { column-count: 3 ;}
}
